
.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation', style: 'background-color:#000066' }
  .container
    .navbar-header
      %button{ class: 'navbar-toggle pull-right', type: "button",  data: { toggle: "collapse", target: ".navbar-ex1-collapse" } }
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: admin_index_path }
        = image_tag 'cs_logo_wht.png', width: 120


    .collapse.navbar-collapse.navbar-ex1-collapse{ role: "navigation" }
      %ul.nav.navbar-nav.navbar-right
        %li{ class: set_css_if( path: contacts_path ) }
          %a{ href: contacts_path }
            CONTACTS
        %li{ class: set_css_if( path: people_path ) }
          %a{ href: people_path }
            USERS
        %li
          %a{ href: logout_path, class: set_css_if( path: logout_path ) }
            LOGOUT
