%footer#footer
	.container

		.row.copyright
			.span8.col-md-8
				© 
				= Time.now.year 
				CogSMART. All rights reserved. 

			.span4.pullright.col-md-4
				- if current_user
					Signed in as: 
					%a{ href: authenticated_root_path }
						= current_user.name
					= ' | '
					= link_to 'logout', logout_path
