

%p
	Welcome! CogSMART stands for Cognitive Symptom Management and Rehabilitation Therapy, a form of cognitive training to help people improve their skills in prospective memory (remembering to do things), attention, learning/memory, and executive functioning (problem-solving, planning, organization, and cognitive flexibility). Our hope is that improving these abilities will help people with cognitive symptoms or impairments perform better in their everyday activities and reach their goals pertaining to school, work, social functioning, and independent living. We ask clients to keep these goals in mind as they learn and apply their new skills, so they remain motivated to practice their skills and make progress toward their goals. 

%p
	The CogSMART approach to cognitive training has been successful for people with psychiatric symptoms, brain injuries, and other brain-related conditions resulting in cognitive challenges. CogSMART uses compensatory cognitive training, rather than extensive drills and practice. In other words, we teach people how to improve their cognitive skills by using strategies, have them practice their strategy use in the real world, and then troubleshoot any difficulties that come up. Our goal is to help make these strategies become habits, so they can be used automatically when they are needed in the real world. 

%p
	For the past decade, the CogSMART intervention has been used by therapists with individual clients and groups or classes. We are now developing a web-based and mobile CogSMART app that can be used with or without the guidance of a clinician. Clinicians are welcome to sign up for updates regarding the app and the opportunity to help clients beta-test the new app.