.container
  .row
    .col-sm-12
      %ol.breadcrumb
        %li
          = link_to 'Admin', admin_index_path
        %li
          Contacts
    - if @contacts.present?
      %table.table
        %th
          Email
        %th
          Date Created
        - @contacts.each do |contact|
          %tr
            %td
              = contact.email
            %td
              = format_datetime contact.created_at
    - else
      .well
        %h3 No Contacts Yet

