
.container
  .col-md-10
    .span11.wrapp
      = form_tag contacts_path do
        .col-md-6
          - if params[:manual_id]
            = hidden_field_tag :manual_id, params[:manual_id]
          = text_field_tag :email, '',  placeholder: "Email address...", class: 'input-lg form-control', style: 'height: 2em;'
          &nbsp;
        = submit_tag 'submit', class: 'btn btn-primary btn-md send'
