<h1>Thanks @user.name for using Cogsmart, here's your to do list</h1>
<div>
  <table>
    <tr>
      <th>High Priority <br/>(today or tomorrow)</th>
      <th>Medium Priority<br/>(within a week or so)</th>
      <th>Low Priority<br/>(within a month or so)</th>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </table>
</div>
