
#features
	.container
		.section_header
			%h3
				Curriculum Vitae
		.row
			.intro
				%h3
					CONTACT
				%p
					University of California, San Diego (UCSD) VA San Diego Healthcare System 
					%br
					Department of Psychiatry Psychiatry Service
					%br
					140 Arbor Drive 3350 La Jolla Village Drive (116A)
					%br
					San Diego, CA 92103 San Diego, CA 92161
					%br
					(619) 543-6684 (858) 642-3848
					%br
					= mail_to 'etwamley@ucsd.edu' 
					= mail_to 'elizabeth.twamley@va.gov'

				%h3
					CURRENT POSITIONS
				.row
					.span2
						2003 – present 
					.span10
						2003 – present Associate Director, Research Fellowship in Geriatric Mental Health, UCSD Division of Geriatric Psychiatry
						%br
						Faculty Member, Stein Institute for Research on Aging at UCSD
				.row
					.span2
						2007 – present 
					.span10
						Associate Director for Training, Advanced Center for Innovation in Services and Intervention 
						%br
						Research (ACISIR), UCSD Division of Geriatric Psychiatry Faculty Member, SDSU/UCSD Joint 
						%br
						Doctoral Program in Clinical Psychology (Neuropsychology Track)
				.row
					.span2 
						2009 – present
					.span10
						Associate Professor In Residence, Department of Psychiatry, UCSD
						%br
						Chief of Neuropsychology Unit, Center of Excellence for Stress and Mental Health 
						%br
						(CESAMH), VA San Diego Healthcare System

				%h3
					EDUCATION AND TRAINING

%br
%br
%br
%br
 




1992 BA, Social Ecology, University of California, Irvine

1997 MA, Clinical Psychology, Arizona State University 

2000 Predoctoral Internship in Clinical Psychology and Neuropsychology (APA-approved); UCSD 

2000 PhD, Clinical Psychology, Arizona State University (APA-approved), Tempe, AZ

2003 Postdoctoral Fellowship in Geriatric Psychiatry, UCSD Department of Psychiatry, San 

(Emphases in Psychology/Social Behavior and Criminology/Law/Society)

Department of Psychiatry; VASDHS

Diego, CA

 

SELECTED HONORS AND AWARDS

6/91 Phi Beta Kappa

9/92 – 6/93 Chancellor’s Fellowship, University of California, Irvine 

8/96 – 5/98 Preparing Future Faculty Fellow, Arizona State University 

7/01 Participant, National Institute of Mental Health Summer Research Institute in Geriatric 

10/02 International College of Geriatric Psychoneuropharmacology Travel Award 

1/03 UCSD Academic Geriatric Resource Center Travel Award 

1/03 National Alliance for Research on Schizophrenia and Depression Travel Award 

10/03 National Alliance for Research on Schizophrenia and Depression Research Partners 

6/05 American College of Neuropsychopharmacology Young Investigator Memorial Travel Award

PROFESSIONAL AFFILIATIONS

Licensed Psychologist (PSY19150), State of California

American Psychological Association Division 40, Clinical Neuropsychology

International Neuropsychological Society

Schizophrenia International Research Society

CURRENT GRANT SUPPORT

4/08–3/13 (NCE) Principal Investigator, National Institute of Mental Health 1R01MH080150, Cognitive 

Psychiatry

Program

8/08-7/13 (NCE) Co-Investigator, National Institute of Mental Health R01MH081681, Genetic Predictors 

4/10-3/13 (NCE) Co-Principal Investigator, VA Merit Review D7217-R, Cognitive Rehabilitation of OEF/

7/11-6/14 Co-Investigator, National Institute of Mental Health R34 MH93453, Enrichment 

9/11-8/15 Co-Investigator, Department of Defense PT100018, Enhanced Cognitive 

10/11-9/14 Consultant, National Institute on Disability and Rehabilitation Research 

8/1/12-5/31/17 Co-Investigator, National Institute on Drug Abuse, R01 DA034497, Targeting PM 

4/1/13-3/31/14 Co-Investigator, UCSD Clinical Translational Research Institute Clinical Studies 

9/15/13-9/14/15 Principal Investigator, National Alliance for Research on Schizophrenia and Depression 

Training to Improve Work Outcomes in Severe Mental Illness

of Neuropsychological and Functional Outcomes in Schizophrenia (PI: Ming Tsuang, 

MD, PhD)

OIF Veterans with Cognitive Disorder (PI: Daniel Storzbach, PhD)

Strategies for Medication-enhanced Cognitive Training in Schizophrenia (PI: Neal 

Swerdlow, MD, PhD)

Rehabilitation to Treat Veterans with Comorbid TBI and PTSD (PI: Amy Jak, PhD)

H133G110239, Developing Executive Functioning through Cognitive Remediation for 

College Students with Psychiatric Disabilities (PI: Michelle Mullen-Gonzales, MS) 

to Improve HIV Adherence in Adolescents at Risk for Substance Abuse (PI: Sylvie Naar-
King, PhD)

Pilot Project, Neurocognitive and Neural Changes Associated with Cognitive 

Rehabilitation in Parkinson's Disease (PI: Dawn Schiehser, PhD)

Independent Investigator Award, Developing a Mobile App for Compensatory Cognitive 

Training

PREVIOUS GRANT SUPPORT

7/00 – 6/03 National Institute of Mental Health T32 Fellowship, MH019934, Fellowship in 

7/01 Pilot Project Grant, UCSD Intervention Research Center for Late-Life 

11/01 – 10/02 Consultant, VA Merit Review Grant (PI: Murray Stein, MD) on PTSD

3/02 – 4/04 Project Manager, National Alliance for Research on Schizophrenia and 

7/02 – 6/05 Principal Investigator, National Alliance for Research on Schizophrenia and 

12/04 – 11/05 Principal Investigator, UCSD Academic Senate Grant, COMT Genotype and 

9/02 – 7/07 Co-Investigator, Advanced Center for Interventions and Services Research, 

4/03 – 3/08 Principal Investigator, National Institute of Mental Health K23 Career 

7/07 – 6/09 Principal Investigator, National Alliance for Research on Schizophrenia and 

10/10-9/11 Principal Investigator, VA Mental Health QUERI RRP 10-052, VA Vocational 

9/08-8/11 Principal Investigator, Department of Defense TBI New Investigator Award 

9/07--8/12 (NCE) Co-Investigator, National Institute of Mental Health Advanced Center for Innovation in 

9/07–6/12 (NCE) Co-Investigator, National Institute of Mental Health R01MH078737, Validating 

Geriatric Mental Health (PI: Dilip Jeste, MD)

Psychoses 

Depression Distinguished Investigator Award, Work Rehabilitation in Older People with 

Schizophrenia (PI: Dilip Jeste, MD)

Depression Young Investigator Award, Cognitive Training for Patients with 

Schizophrenia 

Cognition in Schizophrenia

MH066248, Center for Community-Based Research on Older People with Psychosis (PI: 

Dilip Jeste, MD)

Development Award, MH066011, Work Rehabilitation for Older Adults with 

Schizophrenia 

Depression Young Investigator Award, Genotype, Cognition, and Treatment Outcome in 

Schizophrenia

Services for OEF/OIF Veterans with Mental Health Disorders

PT075291, Improving Work Outcomes for Veterans with Traumatic Brain Injury

Services and Intervention Research P30MH080002, ACISIR for Older People with 

Schizophrenia and Other Psychoses (PI: Dilip V. Jeste, MD)

Assessments of Real-World Outcome (PI: Thomas L. Patterson, PhD)

12/11-11/12 Principal Investigator, UCSD Academic Senate Grant, Cognitive Assessment of 

EDITORIAL SERVICE

1/03 – 12/06 Editorial Board, American Journal of Geriatric Psychiatry 

1/03 – 12/06 Assistant to the Editor-In-Chief, American Journal of Geriatric Psychiatry

1/03 – current Triage Editor, American Journal of Geriatric Psychiatry 

AD HOC JOURNAL REVIEW

Psychology of Women Quarterly, American Journal of Geriatric Psychiatry, American Journal of Psychiatry, 

International Journal of Geriatric Psychiatry, Journal of the International Neuropsychological Society, Journal 

of Traumatic Stress, Annals of Behavioral Medicine, Journal of Psychiatric Research, Clinical Psychology 

Review, Social Psychiatry and Psychiatric Epidemiology, Journal of Psychosomatic Research, Psychiatric 

Services, Schizophrenia Research, Neuroscience Letters, Journal of Affective Disorders, Psychiatry Research, 

Journal of Abnormal Psychology, Archives of Clinical Neuropsychology, European Psychiatry, Schizophrenia 

Bulletin, American Journal of Psychiatric Rehabiltiation, Journal of Consulting and Clinical Psychology, Journal 

of Nervous and Mental Disease, Neuropsychology, Depression and Anxiety, Acta Psychiatrica Scandinavica, 

Rehabilitation Research and Practice, Journal of Rehabilitation Research and Development, The Clinical 

Neuropsychologist, Neuropharmacology, Clinical Psychology Review

 

SCIENTIFIC REVIEW

12/03, 8/04, 8/05 Ad hoc reviewer, National Institute of Mental Health (B/START)

12/05 Ad hoc reviewer, Ontario HIV Treatment Network

1/06 Ad hoc reviewer, Wellcome Trust

6/06 Ad hoc reviewer, Health Research Board of Ireland

11/08 Ad hoc reviewer, Medical Research Council (UK)

2/09 Reviewer, National Institute of Mental Health, SRNS Initial Review Group 

7/10 Reviewer, NIDA ZDA1 KXH-C (08) 1 - Cognitive Remediation 

2/11 Ad hoc reviewer, Social Sciences and Humanities Research Council of 

5/11 Ad hoc reviewer, University of Utah Center on Aging Pilot Grant Program

12/11-present Pilot Grant reviewer, UCSD Clinical and Translational Research Institute

1/12 Ad hoc dissertation reviewer, University of Queensland, Queensland, 

4/12 Ad hoc reviewer, Defense and Veterans Brain Injury Center, Naval 

9/12 Ad hoc reviewer, Patient-Centered Outcomes Research Institute (PCORI)

10/12 Reviewer, NIMH, ITVA Study Section (Interventions Committee for Adult 

10/12 Reviewer, Scottish Intercollegiate Guidelines Network (SIGN) evidence-
based guideline on management of schizophrenia

6/13-present Reviewer, National Institutes of Health, Brain Disorders, Language, 

8/13-present Reviewer, VA Rehabilitation Research and Development Service Merit Study 

the Sheltered Homeless

(Mental Health Services in Non-Specialty Settings)

Approaches to Improve Drug Abuse Treatment Outcomes

Canada (SSHRC)

Australia

Medical Center San Diego

Disorders)

Communication and Related Neurosciences Fellowship Study Section (F01)

Section on Psychological Health and Social Reintegration (RRD 4)

PEER-REVIEWED PUBLICATIONS 

JOURNAL ARTICLES: EMPIRICAL

1. Twamley, E.W., & Davis, M.C. (1999). The sociocultural model of eating disturbance in young women: The 

effects of personal attributes and family environment. Journal of Social and Clinical Psychology, 18, 467-

489.

2. Davis, M.C., Twamley, E.W., Hamilton, N., & Swan, P.D. (1999). Body fat distribution and hemodynamic 

stress responses in premenopausal obese women: A preliminary study. Health Psychology, 18, 625-633.

3. Kasckow, J.W., Twamley, E., Mulchahey, J.J., Carroll, B., Sabai, M., Strakowski, S.M., Patterson, 

T., & Jeste, D.V. (2001). Health-related quality of well-being in chronically hospitalized patients with 

schizophrenia: comparison with matched outpatients. Psychiatry Research, 103, 69-78.

4. Twamley, E.W., Doshi, R.R., Nayak, G.V., Palmer, B.W., Golshan, S., Heaton, R.K., Patterson, T.L., 

& Jeste, D.V. (2002). Generalized cognitive impairments, ability to perform everyday tasks, and level 

of independence in community living situations of older patients with psychosis. American Journal of 

Psychiatry, 159, 2013-2020.

5. Stein, M.B., Kennedy, C.M., & Twamley, E.W. (2002). Neuropsychological function in female victims of 

intimate partner violence with and without posttraumatic stress disorder. Biological Psychiatry, 52, 1079-

1088.

6. Jeste, D.V., Twamley, E.W., Eyler Zorrilla, L.T., Golshan, S., Patterson, T.L., & Palmer, B.W. (2003). Aging 

and outcome in schizophrenia. Acta Psychiatrica Scandinavica, 107, 336-343.

7. Palmer, B.W., Bondi, M.W., Twamley, E.W., Thal, L., Golshan, S., & Jeste, D.V. (2003). Are late-onset 

schizophrenia-spectrum disorders neurodegenerative conditions?: Annual rates of change on two dementia 

measures. Journal of Neuropsychiatry and Clinical Neurosciences, 15, 45-52.

8. Twamley, E.W., Hami, S., & Stein, M.B. (2004). Neuropsychological function in college students with and 

without posttraumatic stress disorder. Psychiatry Research, 126, 265-274. 

9. Twamley, E.W., Padin, D.S., Bayne, K.S., Narvaez, J.M., Williams, R.E., & Jeste, D.V. (2005). Work 

rehabilitation for older people with schizophrenia: A comparison of three approaches. Journal of Nervous 

and Mental Disease, 193, 596-601.

10. Twamley, E.W., Narvaez, J.M., Sadek, J.R., Jeste, D.V., Grant, I., & Heaton, R.K. (2006). Work-related 

abilities in schizophrenia and HIV. Journal of Nervous and Mental Disease, 194, 268-274.

11. Twamley, E.W., Palmer, B.W., Jeste, D.V., Taylor, M.J., & Heaton, R.K. (2006). Transient and executive 

function working memory in schizophrenia. Schizophrenia Research, 87, 185-190.

12. Woods, S.P., Twamley, E.W., Dawson, M.S., Narvaez, J.M., & Jeste, D.V. (2007). Deficits in cue detection 

and intention retrieval underlie prospective memory impairment in schizophrenia. Schizophrenia Research, 

90, 344-350.

13. Bowie, C.R., Twamley, E.W., Anderson, H., Halpern, B., Patterson, T.L., & Harvey, P.D. (2007). Self-
assessment of functional status in schizophrenia. Journal of Psychiatric Research, 41, 1012-1018.

14. Twamley, E.W., Woods, S.P., Zurhellen, C.H., Vertinski, M., Narvaez, J.M., Mausbach, B.T., Patterson, 

T.L., & Jeste, D.V. (2008). Neuropsychological substrates and everyday functioning implications of 

prospective memory impairment in schizophrenia. Schizophrenia Research, 106, 42-49.

15. Sitzer, D.I., Twamley, E.W., Patterson, T.L., & Jeste, D.V. (2008). Multivariate predictors of social skills 

performance in middle-aged and older outpatients with schizophrenia spectrum disorders. Psychological 

Medicine, 38, 755-763.

16. Mausbach, B.T., Bowie, C.R., Harvey, P.D., Twamley, E.W., Goldman, S.R., Jeste, D.V., & Patterson, T.L. 

(2008). Usefulness of the UCSD Performance-based Skills Assessment (UPSA) for predicting residential 

independence in patients with chronic schizophrenia. Journal of Psychiatric Research, 42, 320-327.

17. Narvaez, J.M., Twamley, E.W. (co-first authors), McKibbin, C.L., Heaton, R.K., & Patterson, T.L. (2008). 

Subjective and objective quality of life in schizophrenia. Schizophrenia Research, 98, 201-208.

18. Twamley, E.W., Narvaez, J.M., Becker, D.R., Bartels, S.J., & Jeste, D.V. (2008). Supported employment 

for middle-aged and older people with schizophrenia. American Journal of Psychiatric Rehabilitation, 11, 

76-89.

19. Twamley, E.W., Savla, G.N., Zurhellen, C.Z., Heaton, R.K., & Jeste, D.V. (2008). Development and pilot 

testing of a novel compensatory cognitive training intervention for people with psychosis. American Journal 

of Psychiatric Rehabilitation, 11, 144-163.

20. McKibbin, C.L., Twamley, E.W., Patterson, T.L., Golshan, S., Lebowitz, B., Feiner, L., Shepherd, S., & 

Jeste, D.V. (2008). Perceived participation restriction in middle-aged and older persons with schizophrenia. 

American Journal of Geriatric Psychiatry, 16, 777-80.

21. Irwin, S.A., Zurhellen, C.H., Diamond, L.C., Dunn, L.B., Palmer, B.W., Jeste, D.V., & Twamley, E.W. 

(2008). Unrecognised cognitive impairment in hospice patients: A pilot study. Palliative Medicine, 22, 842–

847.

22. Twamley, E.W., Allard, C.B., Thorp, S.R., Norman, S.B., Cissell, S.H., Berardi, K.H., Grimes, E.M., & 

Stein, M.B. (2009). Cognitive impairment and functioning in PTSD related to intimate partner violence. 

Journal of the International Neuropsychological Society, 15, 879-87.

23. Palmer, B.W., Savla, G.N., Fellows, I., Twamley, E.W., Jeste, D.V., and Lacro, J.P. (2010). Do people with 

schizophrenia have differential impairment in episodic memory and/or working memory relative to other 

cognitive abilities? Schizophrenia Research, 116, 259-265.

24. Huckans, M., Pavawalla, M.S., Demadura, M.A., Kolessar, M.S., Seelye, A., Roost, N., Twamley, E.W., & 

Storzbach, D. (2010). A pilot study examining effects of group-based Cognitive Strategy Training treatment 

on self-reported cognitive problems, psychiatric symptoms, functioning, and compensatory strategy use 

in OEF/OIF combat veterans with persistent mild cognitive disorder and history of traumatic brain injury. 

Journal of Rehabilitation Research and Development, 47, 43-60. 

25. Guo, X., Zhai, J., Liu, Z., Fang, M., Wang, B., Wang, C., Hu, B., Sun, X., Lu, L., Lu, Z., Ma, C., He, X., 

Guo. T., Xie, S., Wu, R., Xue, Z., Chen, J., Twamley, E.W., Jin, H., & Zhao, J. (2010). Antipsychotic 

medication alone vs combined with psychosocial intervention on outcomes of early stage schizophrenia: a 

randomized, one-year study. Archives of General Psychiatry, 67, 895-904.

26. Bousman, C.A., Twamley, E.W., Vella, L., Gale, M., Norman, S.B., Judd, P., Everall, I.P., & Heaton, 

R.K. (2010). Homelessness and neuropsychological impairment: Preliminary analysis of adults entering 

outpatient psychiatric treatment. Journal of Nervous and Mental Disease, 198, 790-794.

27. Burton, C.Z., Vella, L., Weller, J.A., & Twamley, E.W. (2011). Differential effects of executive functioning 

on suicide attempts. Journal of Neuropsychiatry and Clinical Neurosciences, 23, 173–179.

28. Savla, G.N., Twamley, E.W., Thompson, W.K., Delis, D.C., Jeste, D.V., & Palmer, B.W. (2011). Evaluation 

of specific executive functioning skills and the processes underlying executive control in schizophrenia. 

Journal of the International Neuropsychological Society, 17, 14-23.

29. Woods, S.P., Weber, E., Weisz, B., Twamley, E.W., Grant, I., & The HNRC Group. (2011). Prospective 

memory deficits are associated with unemployment in persons living with HIV infection. Rehabilitation 

Psychology, 56, 77-84.

30. Sabbag, S., Twamley, E.W. (listed mistakenly as E.M.), Vella, L., Heaton, R.K., Patterson, T.L., & 

Harvey, P.D. (2011). Assessing everyday functioning in schizophrenia: Not all informants seem equally 

informative. Schizophrenia Research, 131, 250-255.

31. Guo, X., Fang., M., Zhai, J., Wang, B., Wang, C., Hu, B., Sun, X., Lu, L., Lu, Z., Ma, C., Guo, T., Xie, S., 

Twamley, E.W., Jin, H., Zhao, J. (2011). Effectiveness of maintenance treatments with atypical and typical 

antipsychotics in stable schizophrenia with early stage: 1-year naturalistic study. Psychopharmacology, 

216, 475-484.

32. Twamley, E.W., Burton, C.Z., & Vella, L. (2011). Cognitive training for psychosis: Who benefits? Who 

stays in treatment? Schizophrenia Bulletin, 37, S55-S62.

33. Guo, X., Zhai, J., Wei, Q., Twamley, E.W., Jin, H., Fang, M., Wang., C., Hu, M., Wu, R., Liu, Z., & Zhao, 

J. (2011). Neurocognitive effects of first- and second- generation antipsychotic drugs in early-stage 

schizophrenia: A naturalistic 12-month follow-up study. Neuroscience Letters, 503, 141-146.

34. Harvey, P.D., Raykov, T., Twamley, E.W., Vella, L., Heaton, R.K., Patterson, T.L. (2011). Validating the 

measurement of real-world functional outcomes: Phase I results of the VALERO study. American Journal 

of Psychiatry, 168, 1195-1201.

35. Burton, C.Z., Vella, L., & Twamley, E.W. (2011). Clinical and cognitive insight in a cognitive training 

intervention. American Journal of Psychiatric Rehabilitation, 14, 307-326.

36. Twamley, E.W., Vella, L., Burton, C.Z., Becker, D.R., Bell, M.D., & Jeste, D.V. (2012). The efficacy of 

supported employment for middle-aged and older people with schizophrenia. Schizophrenia Research, 

135, 100-104.

37. Chesher, N.J., Bousman, C.A., Gale, M., Norman, S.B., Twamley, E.W., Heaton, R.K., Everall, I.P., & 

Judd, P.A. (2012). Chronic illness histories of adults entering treatment for co-occurring substance abuse 

and other mental health disorders. American Journal on Addictions, 21, 1-4.

38. Aupperle, R.L., Allard, C.B., Grimes, E.M., Simmons, A.N., Flagan, T., Behrooznia, M., Cissell, S.H., 

Twamley, E.W., Thorp, S.R., Norman, S.B., Paulus, M.P., & Stein, M.B. (2012). Dorsolateral prefrontal 

cortex activation during emotional anticipation and neuropsychological performance in PTSD. Archives of 

General Psychiatry, 69, 1-12.

39. Burton, C.Z., Twamley, E.W., Lee, L.C., Palmer, B.W., Jeste, D.V., Dunn, L.B, & Irwin, S.A. (2012). 

Undetected cognitive impairment and decision-making capacity in patients receiving hospice care. 

American Journal of Geriatric Psychiatry, 20, 306-316.

40. Wu, R., Jin, H., Gao, K., Twamley, E.W., Ou, J., Shao, P., Wang, J., Guo, X., Davis, J.M., Chan, P.K., & 

Zhao, J. (2012). Metformin for treatment of antipsychotic-induced amenorrhea and weight gain in female 

patients with first-episode schizophrenia: a randomized, double blind, placebo-controlled study. American 

Journal of Psychiatry, 169, 813-821.

41. Sabbag, S., Twamley, E.W., Vella, L., Heaton, R.K., Patterson, T.L., & Harvey, P.D. (2012). Predictors 

of the accuracy of self assessment of everyday functioning in people with schizophrenia. Schizophrenia 

Research, 137, 190-195.

42. Savla, G.N., Twamley, E.W., Delis, D.C., Roesch, S.C., Jeste, D.V., & Palmer, B.W. (2012). Dimensions of 

executive functioning in schizophrenia and their relationship with processing speed. Schizophrenia Bulletin, 

38, 760-768.

43. Twamley, E.W., Vella, L., Burton, C.Z., Heaton, R.K., & Jeste, D.V. (2012). Compensatory Cognitive 

Training for psychosis: Effects in a randomized controlled trial. Journal of Clinical Psychiatry, 73, 1212-

1219.

44. Harvey, P.D., Sabbag, S., Prestia, D., Durand, D., Twamley, E.W., & Patterson, T.L. (2012). Functional 

milestones and clinician ratings of everyday functioning: Overlap between milestones and specificity of 

ratings. Journal of Psychiatric Research, 46, 1546-1552.

45. Harvey, P.D., Raykov, T., Twamley, E.W., Vella, L., Heaton, R.K,. & Patterson, T.L. (2013). The factor 

structure of neurocognition and functional capacity in schizophrenia: A multidimensional examination of 

temporal stability. Journal of the International Neuropsychological Society, 19, 656-663.

46. Burton, C.Z., Vella, L., Harvey, P.D., Patterson, T.L., Heaton, R.K., & Twamley, E.W. (2013). Factor 

structure of the MATRICS Consensus Cognitive Battery (MCCB) in schizophrenia. Schizophrenia 

Research, 146, 244-248.

47. Harvey, P.D., Stone, L., Lowenstein, D., Czaja, S.J., Heaton, R.K., Twamley, E.W., & Patterson, 

T.L. (2013). The convergence between self-reports and observer ratings of financial skills and direct 

assessment of financial capabilities in patients with schizophrenia: More detail is not always better. 

Schizophrenia Research, 147, 86-90. 

48. Twamley, E.W., Baker, D.G., Norman, S.B., Pittman, J.O., Lohr, J.B., & Resnick, S.G. (in press). VHA 

Vocational Services for OEF/OIF Veterans with Mental Health Conditions. Journal of Rehabilitation 

Research and Development. 

49. Ayers, C.R., Saxena, S., Espejo, E., Twamley, E.W., Granholm, E., Liu, L., & Wetherell, J.L. (in press). 

Novel treatment for geriatric hoarding disorder: An open trial of cognitive rehabilitation paired with behavior 

therapy. American Journal of Geriatric Psychiatry.

50. Chinman, M., Oberman, R., Hanusa, B., Cohen, A., Salyers, M., Twamley, E., Young, A. (in press). A 

cluster randomized trial of adding peer specialists to intensive case management teams in the Veterans 

Health Administration. Journal of Behavioral Health Services Research. 

51. Twamley, E.W., Jak, A.J., Delis, D.C., Bondi, M.W., & Lohr, J.B. (in press). Cognitive Symptom 

Management and Rehabilitation Therapy (CogSMART) for Veterans with Traumatic Brain Injury: A Pilot 

Randomized Controlled Trial. Journal of Rehabilitation Research and Development.

JOURNAL ARTICLES: REVIEWS AND META-ANALYSES

52. Davis, M.C., Matthews, K.A., & Twamley, E.W. (1999). Is life more difficult on Mars or Venus? A meta-
analytic review of sex differences in major and minor life events. Annals of Behavioral Medicine, 21, 83-97.

53. Twamley, E.W., Jeste, D.V., & Lehman, A.F. (2003). Vocational rehabilitation in schizophrenia: A literature 

review and meta-analysis of randomized controlled trials. Journal of Nervous and Mental Disease, 191, 

515-523.

54. Twamley, E.W., Jeste, D.V., & Bellack, A.S. (2003). A review of cognitive training in schizophrenia. 

Schizophrenia Bulletin, 29, 359-382.

55. Rodgers, C.S., Lang, A.J., Twamley, E.W., & Stein, M.B. (2003). Sexual trauma and pregnancy: A 

conceptual framework. Journal of Women’s Health, 12, 961-970. 

56. Twamley, E.W., & Harvey, P.D. (2006). The importance of cognition in the conceptualization of both 

dementia and severe mental illness in older people. American Journal of Geriatric Psychiatry, 14, 387-390. 

57. Sitzer, D.I., Twamley, E.W., & Jeste, D.V. (2006). Cognitive training in Alzheimer disease: A meta-analysis 

of the literature. Acta Psychiatrica Scandinavica, 114, 75-90.

58. Twamley, E.W., Legendre Ropacki, S.A., & Bondi, M.W. (2006). Neuropsychological and neuroimaging 

changes in preclinical Alzheimer’s disease. Journal of the International Neuropsychological Society, 12, 

707-735.

59. McGurk, S.R., Twamley, E.W., Sitzer, D.I., McHugo, G.J., & Mueser, K.T. (2007). A meta-analysis of 

cognitive remediation in schizophrenia. American Journal of Psychiatry, 164, 1791-802.

60. Jeste, D.V., Twamley, E.W., Cardenas, V., Lebowitz, B., & Reynolds, C.F. (2009). A call for training the 

trainers: Focus on mentoring to enhance diversity in mental health research. American Journal of Public 

Health, 99, S31-S37. 

61. Chou, H., Twamley, E., & Swerdlow, N.R. (2012). Towards Medication-Enhancement of Cognitive 

Interventions in Schizophrenia. Handbook of Experimental Pharmacology, 213, 81-111.

62. Twamley, E.W. (2013). The future of psychosocial interventions for older adults with severe mental illness. 

American Journal of Geriatric Psychiatry, 21, 215-217.

63. Huckans, M., Hutson, L., Twamley, E., Jak, A., Kaye, J., & Storzbach, D. (2013). Efficacy of cognitive 

rehabilitation therapies for mild cognitive impairment (MCI) in older adults: Working toward a theoretical 

model and evidence-based interventions. Neuropsychology Review, 23, 63-80. 

64. Choi, J., & Twamley, E.W. (2013). Cognitive rehabilitation therapies for Alzheimer’s disease: A review of 

methods to improve treatment engagement and self-efficacy. Neuropsychology Review, 23, 48-62.

65. Acheson, D.T., Twamley, E.W., & Young, J.W. (2013). Reward Learning as a Potential Target for 

Pharmacological Augmentation of Cognitive Remediation for Schizophrenia: A Roadmap for Preclinical 

Development. Frontiers in Neuropharmacology, 7, 103(1-12). 

66. Savla, G.N., Vella, L., Armstrong, C.C., Penn, D.L., & Twamley, E.W. (in press). Deficits in domains of 

social cognition in schizophrenia: A meta-analysis of the empirical evidence. Schizophrenia Bulletin.

67. Schuitevoerder, S., Rosen, J.W., Twamley, E.W., Ayers, C.R., Sones, H., Lohr, J.B., Goetter, E.M., Fonzo, 

G.A., Holloway, K.J., & Thorp, S.R. (in press). A meta-analysis of cognitive functioning in older adults with 

PTSD. Journal of Anxiety Disorders.

68. Orff, H.J., Hays, C.C., Heldreth, A.A., Stein, M.B., & Twamley, E.W. (in press). Clinical Considerations 

in the Evaluation and Management of Patients Following Traumatic Brain Injury. FOCUS: The Journal of 

Lifelong Learning in Psychiatry.

BOOK CHAPTERS AND INVITED PUBLICATIONS

1. Twamley, E.W., & Bortz, J.J. (1999). Nonepileptic seizures: Neuropsychological mechanisms. BNI 

Quarterly, 15, 20-26. 

2. Twamley, E.W., Dolder, C.R., Corey-Bloom, J., & Jeste, D.V. (2003). Neuropsychiatric aspects of 

schizophrenia (pp 776-798). In Schiffer, R.B., Rao, S.M., & Fogel, B.S., eds., Neuropsychiatry (2nd

Philadelphia: Lippincott Williams & Wilkins.

3. Jeste, D.V., & Twamley, E.W. (2003). Psychosis in late life and its management. Psychiatric Times, 20, 

19-22.

4. Twamley, E.W. (2003). Commentary on Cresswell, M.K., & Rugg, S.A., The Canadian Occupational 

Performance Measure: its use with clients with schizophrenia. International Journal of Therapy and 

Rehabilitation, 10, 553. 

5. Twamley, E.W., & Bondi, M.W. (2004). The differential diagnosis of dementia (pp 276-326). In Ricker, 

J.H., ed., Differential Diagnosis in Adult Neuropsychological Assessment, New York: Springer Publishing 

Company.

6. Nayak, G.V., Folsom, D.P., Twamley, E.W., & Jeste, D.V. (2006). Treatment of late-life schizophrenia 

(pp 225-236). In T. Sharma and P.D. Harvey, eds., The Early Course of Schizophrenia. New York: Oxford 

University Press.

7. Burton, C.Z., Vella, L., & Twamley, E.W. (2009). Supported employment for individuals with severe mental 

illness (pp 383-387). In I. Soderback, ed., International handbook of Occupational Therapy Interventions. 

New York: Springer Publishing Company.

8. Twamley, E.W., Zurhellen, C.H., (co-first authors) & Vella, L. (2010). Compensatory cognitive training 

(pp 50-60). In V. Roder and A. Medalia, eds., Understanding and treating neuro- and social cognition in 

schizophrenia patients. Basel, Switzerland: Karger.

9. Twamley, E.W. (2010). A review of Donald T. Stuss, Gordon Winocur, & Ian H. Robertson (Eds.). (2008) 

Cognitive Neurorehabilitation: Evidence and Application (2nd

Neuropsychology, 32, 670-672.