#features
	.container
		.section_header
			%h3
				CogSMART FAQs
		.row
			.intro
				%h3
					Cognitive training? Cognitive rehabilitation? Cognitive remediation? What’s the difference?
				%p
					All of these terms have been used to describe interventions to improve cognition. “Rehabilitation” and “remediation” imply a return to completely normal cognitive performance, and in many populations with cognitive impairments, this is simply not a realistic goal. For this reason, I prefer the term “cognitive training,” which is an accurate description of the intervention itself and suggests that by engaging in training and using cognitive strategies habitually, people can improve their cognitive performance and functioning.

				%h3
					Why do you advocate for compensatory cognitive training rather than restorative approaches? What about all those commercially-available software packages?
				%p
					There are four main reasons why I recommend compensatory cognitive training:
					%ol
						%li
							There is scientific evidence that it is effective for many people with different types of cognitive impairments, and that cognitive improvements translate into improved real-world functioning. 
						%li
							Compensatory strategies can work regardless of the cause of cognitive impairment. 
						%li
							Using compensatory strategies allows people to work around their cognitive impairments and has the potential to induce brain plasticity (because the brain can change when people use it differently).
						%li
							Compensatory cognitive training is recovery-oriented in its focus on linking strategy use to goals and roles in the community.

					There are now many commercially-available software packages offering restorative cognitive training, some designed to improve cognition via repeated drills of basic cognitive abilities (for example, auditory attention and discrimination of sounds of different pitches), and some that are more similar to computer games. There is some compelling scientific evidence that participants using these programs can improve on the practiced tasks and in other areas of cognition. However, meta-analyses that have aggregated the results across studies have shown that repeated drill and practice interventions don’t appear to have effects on real-world functioning unless they are combined with strategy coaching. (Wykes et al., 2011; McGurk et al., 2007; Rees, 2007; Schutz, 2007). My usual advice to clients and clinicians is that computerized cognitive training programs may be effective, but are more likely to be effective if they are combined with compensatory cognitive training.


				%h3
					What are the theories behind CogSMART? 

				%p
					There are two main theories underlying the CogSMART approach:
					%ol
						%li
							Cognitive compensation. By working around impairments (similar to using a cane to support a weak leg), we can take advantage of an individual’s cognitive strengths, use different strategies, and use different brain areas to perform cognitively-demanding tasks.
						%li
							Habit learning. Habits – good or bad – are hard to break because they are particularly resistant to forgetting. Habit learning relies on  neostriatal pathways in the brain, which are often intact, rather than declarative memory systems, which may be impaired. 

				%h3
					Why did you choose to focus on prospective memory, attention, learning/memory, and executive functioning? 

				%p
					These are the four cognitive domains targeted in CogSMART because they are highly relevant for everyday functioning, and because there is scientific evidence that they can improve with the application of effective strategies. Prospective memory is important because it is the ability to remember to do things (like take medications, call a friend for her birthday, pick up milk on the way home, etc.). Often times, people who report memory difficulties will give examples of prospective memory failures. We provide strategies for effective calendar use as well as shorter-term prospective memory strategies. Attention is emphasized because it is the building block of learning and memory. We can’t learn or remember things that we don’t pay attention to in the first place. Therefore, we focus on paying attention during conversations and while completing tasks. Learning and memory are included because most people with cognitive impairments report memory difficulties. We know that information that is deeply encoded or learned is more likely to be remembered, so we focus mainly on encoding strategies. Executive functioning involves problem-solving, planning, organization, and cognitive flexibility. These, too, are common difficulties for people who have cognitive impairments, and can improve with habitual use of effective strategies.

				%h3
					How long does CogSMART take?

				%p
					CogSMART can be delivered in 12 one-hour sessions if done individually, or 12 two-hour classes if done in groups. Follow-up “booster sessions” may be helpful to further hone strategy use in the real world.


				%h3
					Is it better to work with individuals or groups?
				%p
					There are advantages to both approaches. Working on an individual basis allows the clinician to tailor the CogSMART curriculum to the client, moving more quickly through some concepts and spending a longer time on others. Working with groups allows for a more structured, classroom-type experience that is particularly attractive to some clients, and it also allows for group support in learning and applying the strategies. Some clients may be more willing to give something a try if they see another person experience success. 

				







