
.container
	.row
		.span5.offset3
			.well
				.panel-heading
					%h3.panel-title
						Sign In

				.panel-body
					= form_for resource, as: resource_name, url: session_path( resource_name ) do |f|
						.row
							.control-group.span10
								.controls
									.input-prepend
										.addon
											%i.icon-envelope
										= f.text_field :login, autofocus: true, placeholder: "email", class: 'form-control'
						.row
							.control-group.span10
								.controls
									.input-prepend
										.addon
											%i.icon-key
										= f.password_field :password, placeholder: "password", class: 'form-control'

						.input-group.col-md-12
							= f.submit "Sign in", class: 'btn btn-primary'


				