.container
	.row
		.col-md-5.col-md-offset-3

			.panel.panel-default{ style: "margin-top: 100px;" }
				.panel-heading
					%h3.panel-title
						Sign In

				.panel-body
					= form_for resource, as: resource_name, url: session_path( resource_name ) do |f|
						.row
							.form-group.col-md-10
								.input-group
									.input-group-addon
										%i.icon-envelope
									= f.text_field :login, autofocus: true, placeholder: "email", class: 'form-control'
						.row
							.form-group.col-md-10
								.input-group
									.input-group-addon
										%i.icon-key
									= f.password_field :password, placeholder: "password", class: 'form-control'

						.input-group.col-md-12
							= f.submit "Sign in", class: 'btn btn-primary'


				.panel-footer
					Dont have an account?
					%a{ href: register_path }
						%strong
							Sign Up


